<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home.androidtestgame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/test_game"
        android:label="TestV2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OldTestsActivity" />
        <activity android:name=".StudentStatusActivity" />
        <activity android:name=".StartTestActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".TeacherLogInActivity" />
        <activity
            android:name=".TeacherMenuActivity"
            android:label="@string/title_activity_teacher_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TeacherCreateQuestionActivity" />
        <activity android:name=".TeacherCreateTestActivity" />
        <activity android:name=".TeacherGiveGradeActivity" />
        <activity android:name=".TabHostActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnswerPopupActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".QuestionsPopupActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".TeacherGradeStudentsAnswerActivity" />
        <activity android:name=".TeacherViewTestResultsActivity" />
        <activity android:name=".TeacherViewStudentResultsActivity" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".Viewing_Student_Results_Activity" />
        <activity
            android:name=".CommentPopUpGialogActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PointsPopupGialogActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".TeacherViewHisOwnProfileActivity" />
    </application>

</manifest>