<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home.androidtestgame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/test_game"
        android:label="TestV2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".student.LogInActivity" />
        <activity android:name=".student.RegisterActivity" />
        <activity android:name=".StudentStatusActivity" />
        <activity android:name=".Viewing_Student_Results_Activity" />
        <activity
            android:name=".student.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".student.TestActivity" />
        <activity android:name=".teacher.TeacherLogInActivity" />
        <activity
            android:name=".teacher.TeacherMenuActivity"
            android:label="@string/title_activity_teacher_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnswerPopupActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".QuestionsPopupActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".TeacherGradeStudentsAnswerActivity" />
        <activity android:name=".TeacherViewTestResultsActivity" />
        <activity android:name=".tabHost.TabHostActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateProfileActivity" />
    </application>

</manifest>